/* Import base theme variables first */
@import "./base.css";
@import "./default.css";

/* Import theme variations */
@import "./blue.css";
@import "./green.css";
@import "./purple.css";
@import "./orange.css";
@import "./tangerine.css";
@import "./midnight-blossom.css";
@import "./cyberpunk.css";
@import "./cyberpunk2222.css";
@import "./doom64.css";
@import "./bubblegum.css";
@import "./restaurant-professional.css";

/* Import theme utilities last */
@import "./utils.css";
