/home/debian/Documents/tpv-el-haido2/src-tauri/target/aarch64-unknown-linux-gnu/release/bundle/appimage/TPV El Haido.AppDir/usr/share/applications/TPV El Haido.desktop